# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
venv/
env/
ENV/
.venv/

# -----------------------------
# Model files (VERY IMPORTANT)
# -----------------------------
models/*.pt
*.pt

# -----------------------------
# Dataset (large files)
# -----------------------------
data/
VisDrone_Dataset/

# -----------------------------
# Output files
# -----------------------------
outputs/
runs/
*.log

# -----------------------------
# Streamlit cache
# -----------------------------
.streamlit/

# -----------------------------
# OS-specific files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / Editor files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Jupyter (if any leftover)
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Environment variables
# -----------------------------
.env